.servicios {
  margin: 70px 0px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px;
  border: 1px solid #E3E3E3;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #01274C;
  margin: 0 0 12px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card .contenido {
  padding: 0 10px 10px;
}

.card .contenido p {
  color: #01274C;
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width: 1000px) {
  .servicios {
    margin: 40px 0px;
    gap: 40px;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;

  }
}