<nav class="bg-white shadow-md p-4 flex justify-between items-center">
  <!-- Menú -->
  <ul class="flex space-x-6">
    <li>
      <a routerLink="/admin/menus" routerLinkActive="text-blue-600 font-semibold">
        Menus
      </a>
    </li>
    <li>
      <a routerLink="/admin/categorias" routerLinkActive="text-blue-600 font-semibold">
        Categorias
      </a>
    </li>
    <li>
      <a routerLink="/admin/productos" routerLinkActive="text-blue-600 font-semibold">
        Productos
      </a>
    </li>
    <li>
      <a routerLink="/admin/servicios" routerLinkActive="text-blue-600 font-semibold">
        Servicios
      </a>
    </li>
    <li>
      <a routerLink="/admin/contacto" routerLinkActive="text-blue-600 font-semibold">
        Contacto
      </a>
    </li>
  </ul>
</nav>