<header class="admin-header">
  <!-- Botón hamburguesa solo en móvil -->
  <button class="hamburger" (click)="toggleSidebar()">☰</button>

  <!-- Menú -->
  <nav class="sidebar" [class.open]="isOpen">
    <ul>
      <li><a routerLink="/admin/menus" routerLinkActive="active">Menus</a></li>
      <li><a routerLink="/admin/paginas" routerLinkActive="active">Páginas</a></li>
      <li><a routerLink="/admin/menu-paginas" routerLinkActive="active">Menu páginas</a></li>
      <li><a routerLink="/admin/categorias" routerLinkActive="active">Categorías</a></li>
      <li><a routerLink="/admin/productos" routerLinkActive="active">Productos</a></li>
      <li><a routerLink="/admin/servicios" routerLinkActive="active">Servicios</a></li>
      <li><a routerLink="/admin/paginas-servicios" routerLinkActive="active">Paginas servicios</a></li>
      <li><a routerLink="/admin/contacto" routerLinkActive="active">Contacto</a></li>
    </ul>
  </nav>
</header>
