<footer class="footer">
    <div class="footer-content">
        <!-- Nombre y descripción -->
        <div class="footer-info">
            <h2>Multiservicios Fumisoluciones SAC</h2>
            <p>FUMIGACIÓN, DESINFECCIÓN, LIMPIEZA Y SANITIZACIÓN</p>
        </div>

        <!-- Derechos -->
        <div class="footer-bottom">
            <p>© Copyright <strong>Multiservicios Fumisoluciones SAC</strong>. All Rights Reserved</p>
            <p>Designed by <a href="#">Jack Sandoval</a></p>
        </div>
    </div>
</footer>