<div class="g_contenedor_columna">
    <div class="g_encabezado">
        <h2>Fumigación, Desinfección, <span>Limpieza y Sanitización</span></h2>
        <p>
            Te ofrecemos <strong>soluciones al alcance de tus manos</strong>: fumigación efectiva e integral, servicios preventivos,
            limpieza y desinfección industrial. Con la calidad y confianza que nos caracteriza, también te brindamos el
            mejor <strong>catálogo en productos nacionales e importados.</strong>
        </p>
    </div>

    <div class="sub-nav">
        <button *ngFor="let cat of categorias" (click)="selectCategoria(cat)"
            [class.active]="selectedCategoria === cat">
            {{ cat }}
        </button>
    </div>

    <div class="grid-imagenes">
        <div class="trabajo" *ngFor="let trabajo of trabajosFiltrados">
            <img [src]="trabajo.imagen" [alt]="trabajo.categoria">
        </div>
    </div>
</div>