<div class="g_contenedor_columna">
    <div class="g_encabezado">
        <h2>Nuestros clientes que <span>protegemos</span> día a día</h2>
        <p>
            Cada cliente es parte de nuestra historia.
        </p>
        <p>
            Ellos son algunos de los que eligen calidad, seguridad y confianza.
        </p>
    </div>

    <div class="slider-wrapper">
        <!--<button class="control prev" (click)="prevSlide()">&#10094;</button>-->

        <div class="slider-container">
            <div class="slider" [style.transform]="'translateX(-' + currentIndex * slideWidth + '%)'"
                [class.no-transition]="!transitioning">
                <div class="slide" *ngFor="let cliente of loopClientes">
                    <img [src]="cliente.logo" [alt]="cliente.nombre">
                </div>
            </div>
        </div>

        <!--<button class="control next" (click)="nextSlide()">&#10095;</button>-->
    </div>
</div>