.contacto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 30px;
    grid-template-areas:
        "info form";
}

.contacto-info {
    grid-area: info;
}

.contacto-info p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: var(--color-negro);
}

.contacto-info i {
    color: var(--color-verde);
    margin-right: 8px;
}

.contacto-formulario {
    grid-area: form;
    background: var(--color-blanco);
    border-radius: 14px;
    box-shadow: var(--sombra);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px;
    border: var(--borde-card);
}

.contacto-formulario .form-group {
    margin-bottom: 20px;
}

.contacto-formulario input,
.contacto-formulario textarea,
.contacto-formulario select {
    width: 100%;
    padding: 14px 15px;
    border: var(--borde-card);
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    background: var(--color-blanco);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contacto-formulario input::placeholder,
.contacto-formulario textarea::placeholder {
    color: #999;
    font-size: 0.95rem;
}

.contacto-formulario input:focus,
.contacto-formulario textarea:focus,
.contacto-formulario select:focus {
    border-color: var(--color-verde);
    box-shadow: 0 0 6px rgba(255, 87, 34, 0.4);
}

.contacto-formulario textarea {
    min-height: 120px;
    resize: vertical;
}

.contacto-formulario button {
    background: var(--color-verde);
    color: var(--color-blanco);
    font-size: 1rem;
    font-weight: bold;
    padding: 14px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    width: 200px;
}

.contacto-formulario button:hover {
    background: var(--color-celeste);
    transform: translateY(-2px);
}

.contacto-mapa {
    position: relative;
    width: 100%;
    margin-top: 30px;
    border-radius: 12px;
    height: 300px;
}

.contacto-mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    border: 0;
}

@media (max-width: 1000px) {
    .contacto-grid {
        grid-template-columns: 1fr;
        gap: 25px;
        grid-template-areas:
            "form"
            "info";
    }

    .contacto-formulario button {
        width: 100%;
    }

}