<div class="g_contenedor_pagina">
  <div class="g_pagina_header g_card">
    <h2>Gestión de Páginas</h2>
  </div>

  <div class="g_pagina_body g_grid">
    <div class="g_grid_col_1" class="g_card">
      <form [formGroup]="form" (ngSubmit)="submit()" class="g_form">
        <div class="g_form_item">
          <label for="titulo">Nombre <span class="obligatorio"><i class="fa-solid fa-asterisk"></i></span></label>
          <input id="titulo" formControlName="titulo">
          <div *ngIf="form.get('titulo')?.touched && form.get('titulo')?.invalid" class="g_error">
            El nombre es obligatorio.
          </div>
        </div>

        <div class="g_form_item">
          <label for="slug">URL <span class="obligatorio"><i class="fa-solid fa-asterisk"></i></span></label>
          <input id="slug" formControlName="slug">
          <div *ngIf="form.get('slug')?.touched && form.get('slug')?.hasError('required')" class="g_error">
            El slug es obligatorio.
          </div>
          <div *ngIf="form.get('slug')?.errors?.['backend']" class="g_error">
            {{ form.get('slug')?.errors?.['backend'] }}
          </div>
        </div>

        <div class="g_form_item">
          <label for="descripcion">Descripción</label>
          <textarea id="descripcion" formControlName="descripcion"></textarea>
          <div *ngIf="form.get('descripcion')?.touched && form.get('descripcion')?.invalid" class="g_error">
            La descripción es obligatoria.
          </div>
        </div>

        <div class="g_form_item">
          <label for="imagen">Imagen</label>
          <input id="imagen" type="file" (change)="onFileSelected($event)">
          <div *ngIf="form.get('imagen')?.errors?.['backend']" class="g_error">
            {{ form.get('imagen')?.errors?.['backend'] }}
          </div>

          <div *ngIf="imagePreview" class="preview">
            <p>Previsualización:</p>
            <img [src]="imagePreview" width="120">
          </div>
        </div>

        <div class="g_form_item">
          <button type="submit">{{ form.get('id')?.value ? 'Actualizar' : 'Crear' }}</button>
          <button type="button" *ngIf="form.get('id')?.value" (click)="cancelEdit()">Cancelar</button>
        </div>
      </form>
    </div>

    <div class="g_grid_col_2" class="g_card">
      <div class="g_form">
        <div class="g_form_item">
          <input type="text" [(ngModel)]="buscar" (ngModelChange)="loadData(1)" placeholder="Buscar página..."
            name="buscar">
        </div>
      </div>

      <table class="g_tabla">
        <thead>
          <tr>
            <th>Título</th>
            <th>Slug</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pag of paginas">
            <td>{{ pag.titulo }}</td>
            <td>{{ pag.slug }}</td>
            <td>{{ pag.descripcion }}</td>
            <td><img *ngIf="pag.imagen" [src]="'http://127.0.0.1:8000/storage/' + pag.imagen" width="60"></td>
            <td>
              <button (click)="editPagina(pag)">Editar</button>
              <button (click)="deletePagina(pag.id!)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <br>

      <div class="g_pagination" *ngIf="pagination.total">
        <button [disabled]="pagination.current_page === 1" (click)="loadData(pagination.current_page - 1)">«
          Anterior</button>

        <span>Página {{ pagination.current_page }} de {{ pagination.last_page }}</span>

        <button [disabled]="pagination.current_page === pagination.last_page"
          (click)="loadData(pagination.current_page + 1)">Siguiente »</button>
      </div>
    </div>
  </div>