.admin-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
  background-color: var(--color-plomo);
}

@media (min-width: 769px) {
  .admin-content {
    margin-left: 200px; 
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .admin-content {
    margin-top: 50px;
  }
}
