<div class="producto-container">
  <div class="migas">
    <a routerLink="/productos">← Volver a productos</a>
  </div>

  <div *ngIf="producto" class="producto-detalle">
    <div class="columna-imagen">
      <img *ngIf="producto.imagen" [src]="producto.imagen" alt="{{ producto.nombre }}">
    </div>

    <div class="columna-detalles">
      <p>{{ producto.categoria?.nombre }}</p>
      <h2>{{ producto.nombre }}</h2>
      <p>{{ producto.descripcion }}</p>
      <a [href]="'https://wa.me/51999999999?text=Hola, estoy interesado en el producto: ' + producto.nombre"
        target="_blank" class="whatsapp-btn">
        <i class="fa-brands fa-whatsapp"></i> Pedir por WhatsApp
      </a>
    </div>
  </div>
</div>