<nav class="bg-white shadow-md p-4 flex justify-between items-center">
    <!-- Logo o título -->
    <div class="text-xl font-bold">
      Fumisoluciones
    </div>
  
    <!-- Menú -->
    <ul class="flex space-x-6">
      <li>
        <a routerLink="/" routerLinkActive="text-blue-600 font-semibold" [routerLinkActiveOptions]="{ exact: true }">
          Inicio
        </a>
      </li>
      <li>
        <a routerLink="/productos" routerLinkActive="text-blue-600 font-semibold">
          Productos
        </a>
      </li>
      <li>
        <a routerLink="/contacto" routerLinkActive="text-blue-600 font-semibold">
          Contacto
        </a>
      </li>
    </ul>
  </nav>
  