<header class="header">
  <nav class="navbar">
    <!-- Logo -->
    <div class="logo">
      <a routerLink="/" (click)="closeMenu()">
        <img src="https://www.fumisolucionesac.com/assets/img/logo.png" alt="Logo">
      </a>
    </div>

    <!-- Hamburguesa (móvil) -->
    <div class="hamburger" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>

    <!-- Menú principal -->
    <ul class="nav-links" [class.open]="menuOpen">
      <ng-container *ngFor="let item of menuItems">
        <ng-container *ngTemplateOutlet="renderMenu; context:{ $implicit: item }"></ng-container>
      </ng-container>
    </ul>

    <!-- Template recursivo del menú -->
    <ng-template #renderMenu let-item>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

        <!-- Mostrar enlace solo si no tiene hijos -->
        <a *ngIf="!item.children || item.children.length === 0" [routerLink]="item.route" (click)="closeMenu()">
          <i [class]="item.icon"></i> {{ item.label }}
        </a>

        <!-- Mostrar dropdown si tiene hijos -->
        <div *ngIf="item.children && item.children.length > 0" class="dropdown">
          <span class="dropdown-toggle">
            <i [class]="item.icon"></i> {{ item.label }}
            <i class="fa-solid fa-chevron-down caret"></i>
          </span>

          <ul class="dropdown-menu">
            <ng-container *ngFor="let child of item.children">
              <ng-container *ngTemplateOutlet="renderMenu; context:{ $implicit: child }"></ng-container>
            </ng-container>
          </ul>
        </div>
      </li>
    </ng-template>
  </nav>
</header>